	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/libbie.js"></script>

	<div id="header" visibility="hidden">
		<h1>{{title }}</h1>
		<p>Add books <!--to <select id="shelf">
				{{#each shelves}}
            		<option value="{{value}}">{{name}}</option>
				{{/each}}
			</select> -->in 
			<select id="condition">
				{{#each conditions}}
            		<option value="{{value}}" {{isSelected default}}>{{name}}</option>
				{{/each}}
			</select> condition.</p>
		<input type="number" pattern="[0-9]*" id="isbn" name="isbn" placeholder="ISBN #" />
		<div class="isbn-helper arrow_box">
			<img src="/img/isbn.png" title="Example isbn" class="example-isbn" />
			<p>
				<h3>Where do you find the ISBN #?</h3>
				On the back of most books you will find a bar code with "ISBN" followed by 10 or 13 digits. In the example image, the ISBN is <strong>8175257660</strong>.
			</p>
			<p class="barcode-scanner">Have you considered a <a href="http://amzn.to/23e7Ghp" title="USB Barcode Scanner" target="_blank">cheap barcode scanner</a>?</p>
		</div>
	</div>
	
	<div class="app-welcome-prompt prompt">
		<p>
			<h1>Welcome to Libbie {{userName }}!</h1>
			Libbie makes logging your library of books in Goodreads faster and easier.
		</p>
		<p>
			Simply sign into Libbie with Goodreads and enter their ISBN codes into the box. Libbie will add that book to your GR library. You can make this even faster with a <strong><a href="http://amzn.to/23e7Ghp" target="_blank" title="USB Barcode Scanner">barcode scanner</a></strong> or a <a href="http://amzn.to/1XYoTfF" title="Bluetooth Barcode Scanner" target="_blank">bluetooth scanner for use with your phone</a>. Your barcode scanner should work automatically, but if it doesn't, click on the gear icon in the ISBN box to configure it properly.
		</p>
		<!--
		<p>
			<h3>Watch an introduction video</h3>
			Want to learn how to use libbie best? Watch this 3 minute intro video and you'll be on your way!
			<br/>
			<strong>Video here</strong>
		</p>-->
		<p class="align-right get-started">
			<label for="dont-show-me">
				<input type="checkbox" title="Don't show me again" value="dont-show-me" name="dont-show-me" class="dont-show-me" />
				Don't show me this again
			</label>
			<input type="button" title="Get Started" value="Get Started" class="continue button button-green"/>
		</p>
	</div>

	<div class="donation-prompt prompt">
		<p>
			<h1>Thanks for using Libbie {{userName }}</h1>
			Thank you for using Libbie. If this tool has helped you, please consider a small donation to help cover the costs of making it available to you.
		</p>
		<p>
			Even a $1 donation helps keep Libbie free! If you can't donate, please consider sharing Libbie with your friends or followers!
		</p>
		<div class="share-buttons">
			<input type="button" value="Share with Facebook" class="share-facbook button button-blue" />
			<input type="button" value="Share with Twitter" class="share-twitter button button-blue" />
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="Y3M73N38M7WRJ">
				<input type="submit" name="submit" value="Donate" class="donate button button-green" />
				<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
				<!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
			</form>
			<input type="button" value="Close" class="close button button-red" />
		</div>
	</div>

	<div class="donationthanks-prompt prompt">
		<p><h1>Thank you for your donation!</h1></p>
		<p>Thank you so much for helping to support Libbie. If you have any additional comments and/or you would like to appear in the about page for Libbie, please complete the form below:</p>
		
	</div>

	<div id="poweredBy">
		<a href="https://michaelblouin.ca" target="_blank" title="Powered by MichaelBlouin.ca">Powered by MichaelBlouin.ca</a>
	</div>

	<div id="searchList">

	</div>